.example-form {
  margin-top: 30px;
    width: 45%;
    height: 41%;
  }
  
  .example-full-width {
    width: 95%;
  }

  .table-elements {
    width: 45%;
    min-height: 31.3rem;
  }

  .table-container {
    width: 100%;
  }

  table{
    width: 100%;
  }
  .page-container {
    padding-top: 12rem;
    display: flex;
    justify-content: space-around;
  }