<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <mat-list-item>
      <span><a mat-button (click) = "goToHomePage()">Microcontroller Management System</a></span>
    </mat-list-item>
    <button mat-raised-button color="accent"(click)="goToNotification()">Register Incident</button>
    <mat-list-item fxFlex fxLayout='row' fxLayoutAlign='flex-end'>
        <mat-form-field class="form" appearance="fill" floatLabel="never" color="primary">
          <mat-label>Auto-refresh: </mat-label>
          <mat-select [(value)]="selectedValue" [(ngModel)]="selectedValue" name="time" (selectionChange)="refreshComponents()">
            <mat-option *ngFor="let time of timer" [value]="time.value">
              {{ time.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-list-item>
  </mat-toolbar-row>
  </mat-toolbar>