<div class="page-container">
  <div class="table-container">
    <mat-card *ngIf="valuesModel != undefined">
      <mat-card-header>
        <h1>
          Values from microcontroller: {{ valuesModel.microcontrollerID }} from:
          {{ valuesModel.dateTime | date: "dd-MM-yyyy" }}
        </h1>
      </mat-card-header>
      <mat-card-content>
        <!-- <table>
          <tr>
            <td>Temperature:</td>
            <td>{{ valuesModel.temperature }}</td>
            <td>°C</td>
          </tr>
          <tr>
            <td>Humidity:</td>
            <td>{{ valuesModel.humidity }}</td>
            <td>%</td>
          </tr>
          <tr>
            <td>Dust:</td>
            <td>{{ valuesModel.dust }}</td>
            <td>psf</td>
          </tr>
          <tr>
            <td>Is door closed:</td>
            <td>{{ valuesModel.doorOpen }}</td>
            <td></td>
          </tr>
          <tr>
            <td>Power:</td>
            <td>{{ valuesModel.power }}</td>
            <td>A</td>
          </tr>
        </table> -->
        <p>Temperature: {{ valuesModel.temperature }} °C</p>
          <p>Humidity: {{ valuesModel.humidity }} %</p>
          <p>Dust: {{ valuesModel.dust }} psf</p>
          <p>Is door closed: {{ valuesModel.doorOpen }}</p>
          <p>Power: {{ valuesModel.power }} A</p>
      </mat-card-content>
    </mat-card>
    <br />
    <app-table
      *ngIf="microcontrollerData != undefined"
      [microcontrollerData]="microcontrollerData"
    ></app-table>
    <br />
  </div>
  <div class="charts-container">
    <br />
    <app-time-series-chart
      *ngIf="firstData != undefined && firstData != null"
      [data]="firstData"
      [valueName]="'Temperature in °C'"
    ></app-time-series-chart>
    <br />
    <mat-divider></mat-divider>
    <br />
    <app-time-series-chart
      *ngIf="humidityData != undefined && humidityData != null"
      [data]="humidityData"
      [valueName]="'Humidity in %'"
    ></app-time-series-chart>
    <br />
    <mat-divider></mat-divider>
    <br />
    <app-time-series-chart
      *ngIf="powerData != undefined && powerData != null"
      [data]="powerData"
      [valueName]="'Power in A'"
    ></app-time-series-chart>
    <br />
  </div>
</div>
