.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:70px;
}

.charts-container{
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.table-container {
  width: 45%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

mat-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.microcontroller-details {
  margin-left: 2rem;
}

.status {
  border-radius: 5px;
  height: 100px;
  width: 100px;
  color: white;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-content: center;
  margin-top: 2rem;
  margin-right: 3rem;
  h1 {
    margin-top: 2rem;
  }
}
