:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }
  
  table {
    text-align: center !important;
  }
  th.mat-header-cell {
    text-align: center !important;
  }
  .table-container{
    min-width: 15rem;
    overflow: auto !important;
    box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
  }

  mat-paginator {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }